/* Atkinson Hyperlegible */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
/* Readex Pro */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

.Atkinson{
    font-family:  'Atkinson Hyperlegible', Luminari;
    font-size: 105%;
}

.Readex{
    font-family:  'Readex Pro', Luminari;
    font-size: 100%
}

.Luminari{
    font-family: Luminari;
    font-size: 105%;
}

.CheckedFonts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.FontCheckQuestion{
    padding: 0 0 2.5vmin 0;
}

.readButton {
    margin: 0.3em;
    padding: 3vmin;
    font-family:  'Bebas Neue', sans-serif;
    font-size:  5vmin;
    border-radius: 0px;
    border: transparent;
    background-color: #D9D9D9;
}

.readButton:hover{
    background-color: yellow;
}