.genButton {
    margin: 0.3em;
    padding: 3vmin;
    font-family:  'Bebas Neue', sans-serif;
    font-size:  5vmin;
    border-radius: 0px;
    border: transparent;
    background-color: #D9D9D9;
}

.genButton:hover{
    background-color: yellow;
}

.StoryGen {
    margin: 1em 7vmin;
    font-size: 3vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Credits {
    font-size: 2.5vmin;
}