 a {
    text-decoration: none;
  }

.navTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.navLeft {
  line-height: 2em;
  margin: 0 2em;
}

.navLeft h1:hover {
  color: yellow;
}

.navRight {
  margin: 1em 2em;
  display: flex;
  flex-wrap: wrap;
}

.navLink {
  margin: 1em;
  line-height: 1em;
  color: white;
}

.navHome {
  color: white;
}

.navButton {
  background-color: transparent;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 4vmin;
  /* stops "dev" button from wrapping oddly  */
  padding: .5em 1em;
}

.navButton a {
  color:white;
}

.navButton a:hover {
  color:black;
}

.navBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  color: black;
  background-color:#ffffa1;
}

.navBottom a {
  color:black;
}

.navBottom a:hover {
    background-color: transparent;
    color:white;
}

.navBottomText {
  line-height: 1em;
  margin: 0.5em 2em;
}