a {
    text-decoration: none;
  }

.navbar {
  background-color: black;
  color: white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbarOptions {
  z-index: 2;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLeft {
  margin: 0 6vmin;
}

.navLeft h1 {
  color:white;
}

.navLeft h1:hover {
  color: yellow;
}

.navLink {
  margin: 1vmin;
  color: white;
}

.menuBar {
  width: 5vmin;
  height: 1vmin;
  background-color: white;
  margin: 1vmin;
}

.menuButton {
  background: none;
  border: none;
  font-family: 'Lato', sans-serif;
  padding: 6vmin;
}

.menuButton a {
  color:white;
}

.menuButton a:hover {
  color:black;
}

#dropdown {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
}

.menuItems {
  display: flex;
  flex-direction: column;
}

.navLink:hover {
  background-color: yellow;
  color:black;
}

.navLink {
  margin: 3vmin 7vmin;
  text-align: left;
  font-size: 5vmin;
  line-height: 5vmin;
}

.navSublink:hover {
  background-color: yellow;
  color:black;
  cursor: pointer;
}

.navSublink {
  margin: 3vmin 7vmin;
  text-align: left;
  font-size: 5vmin;
  line-height: 5vmin;
}

/* -1vmin left margin bc it's offset for... button... reasons */
/* .navLinkButton {
  margin: 3vmin 7vmin 3vmin 6vmin;
  text-align: left;
  font-size: 5vmin;
  line-height: 5vmin;
  color: white;
}

.navLinkButton:hover {
  color: black;
  background-color: yellow;
} */

/* FOR SMALLER SCREEN SIZES */

@media (max-width: 460px) {
  .navLeft h1 {
    font-size: 15vmin;
}

  .menuBar {
    width: 7.5vmin;
    height: 1.5vmin;
    margin: 1.5vmin;
  }

  .navLink {
    margin: 5vmin 10vmin;
    text-align: left;
    font-size: 7vmin;
    line-height: 7vmin;
  }

}