a {
    text-decoration: none;
  }

.navbar {
  background-color: black;
  color: white;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbarOptions {
  z-index: 2;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLeft {
  margin: 0 6vmin;
}

.navLeft h1 {
  color:white;
  font-size: 5vmin;
}

.navLeft h1:hover {
  color: yellow;
}

.menuBar {
  width: 4.25vmin;
  height: .65vmin;
  background-color: white;
  margin: .75vmin;
}

.menuButton {
  background: none;
  border: none;
  font-family: 'Lato', sans-serif;
  padding: 1vmin 6vmin;
}

.menuButton a {
  color:white;
}

.menuButton a:hover {
  color:black;
}


IF YOU WANT THE FULL BG TO BE BLACK 
#dropdown {
  height: 100vh;
}

#subMenu {
  margin: 0 4rem 1rem 4rem;
}

#menuItems {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2rem 0 0 2rem;
}

#navLink {
  color: white;
  display: inline-block;
  margin: .5rem 2.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

#navLink:hover {
  background-color: yellow;
  color:black;
}

.navSubLink {
  color: white;
  display: flex;
  margin: 0;
  text-align: left;
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.navSubLink:hover {
  background-color: yellow;
  color:black;
}

/* FOR SMALLER SCREEN SIZES */
/* 
@media (max-width: 460px) {
  .navLeft h1 {
    font-size: 15vmin;
}

  .menuBar {
    width: 7.5vmin;
    height: 1.5vmin;
    margin: 1.5vmin;
  }

  .navLink {
    margin: 5vmin 10vmin;
    text-align: left;
  }

} */