.Footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    padding: 0.5vmin;
    font-size: 2.5vmin;
    width: 100%;
}

.footerLink a {
  color:yellow;
}

.footerLink a:hover {
  color:black;
}