@media (max-width: 460px) {
  .Footer p {
    font-size: 3.5vmin;
  }
}

.Footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    font-size: 2vmin;
    width: 100%;
}

.footerLink a {
  color:yellow;
}

.footerLink a:hover {
  color:black;
}