@media (max-width: 460px) {
  p.footerLink {
    font-size: 2rem;
  }
}

.Footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerLink {
  font-size: 1.5rem;
}

.footerLink a {
  color:yellow;
}

.footerLink a:hover {
  color:black;
}