.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Major+Mono+Display&display=swap');

a:hover {
  background-color: yellow;
  color: black;
}

body {
  background-color: #FFFFFF;
  font-size: 4vmin;
  line-height: 1em;
}

h1 {
  font-family:  'Bebas Neue', sans-serif;
  font-size:  10vmin;
}

h2 {
  font-family:  'Bebas Neue', sans-serif;
  font-size:  10vmin;
  font-weight: lighter;
}

.Section {
  line-height: 1em;
  font-family:  'Bebas Neue', sans-serif;
  font-size:  10vmin;
  margin: 10vmin;
}

span:hover {
  background-color: yellow;
}

