.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 12vmin 0 10vmin 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

a:hover {
  background-color: yellow;
  color: black;
  text-decoration: none;
}

body {
  color: black;
  background-color: #FFFFFF;
  font-size: 3vmin;
  line-height: 1em;
}

p a {
  color:black;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: .3em;
}

h1 {
  font-family:  'Bebas Neue', sans-serif;
  font-size:  10vmin;
  letter-spacing: 1px;
}

h2 {
  font-family:  'Bebas Neue', sans-serif;
  font-size:  10vmin;
  font-weight: lighter;
}

h3 {
  font-family:  'Bebas Neue', sans-serif;
  font-size:  5vmin;
  line-height: 5vmin;
  color: #b3b3b3;
  padding: .75vmin .75vmin 0 .75vmin;
  letter-spacing: 1px;
}

button {
  background: none;
  border: none;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
}

.Section {
  line-height: 1em;
  font-family:  'Bebas Neue', sans-serif;
  font-size:  10vmin;
  margin: 10vmin;
}

span:hover {
  background-color: yellow;
}

@media (max-width: 460px) {
  .App {
      padding: 25vmin 0 10vmin 0;
  }
}