.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

a:hover {
  background-color: yellow;
  color: black;
  text-decoration: none;
}

body {
  color: black;
  background-color: #FFFFFF;
  font-size: 4vmin;
  line-height: 1em;
}

p a {
  color:black;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: .3em;
}

h1 {
  font-family:  'Bebas Neue', sans-serif;
  font-size:  10vmin;
}

h2 {
  font-family:  'Bebas Neue', sans-serif;
  font-size:  10vmin;
  font-weight: lighter;
}

.Section {
  line-height: 1em;
  font-family:  'Bebas Neue', sans-serif;
  font-size:  10vmin;
  margin: 10vmin;
}

span:hover {
  background-color: yellow;
}

